# Object files
*.o
*.lo

# Libraries
*.lib
*.a
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
.svn

# Temporaries
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
src/.deps/
src/.libs/
src/glbd
stamp-h1

# Packages
description-pak
doc-pak/
*.tgz
*.gz
*.deb
*.rpm

debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/files
debian/glbd.debhelper.log
debian/glbd.substvars
debian/glbd/

*~
